<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Shaidur</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Shaidur</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>9</integer>
    <key>copyright</key>
    <string>Copyright 2025 The Shaidur Project Authors (https:\/\/github.com\/slavonic\/Shaidur)</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>ascender</key>
    <integer>800</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>2014-4-19: Created.
See README for more information.</string>
    <key>openTypeHeadCreated</key>
    <string>2014/04/19 11:13:16</string>
    <key>openTypeHheaAscender</key>
    <integer>892</integer>
    <key>openTypeHheaDescender</key>
    <integer>-402</integer>
    <key>openTypeHheaLineGap</key>
    <integer>50</integer>
    <key>openTypeNameDesigner</key>
    <string>Slavonic Computing Initiative</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.009</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>SCIN</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>800</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>50</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>892</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>402</integer>
    <key>postscriptFontName</key>
    <string>Shaidur-Regular</string>
    <key>postscriptFullName</key>
    <string>Shaidur</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-80</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-14</integer>
      <integer>0</integer>
      <integer>450</integer>
      <integer>460</integer>
      <integer>662</integer>
      <integer>676</integer>
      <integer>683</integer>
      <integer>683</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-218</integer>
      <integer>-218</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>13</integer>
      <integer>19</integer>
      <integer>29</integer>
      <integer>38</integer>
      <integer>63</integer>
      <integer>98</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>22</integer>
      <integer>28</integer>
      <integer>40</integer>
      <integer>84</integer>
      <integer>102</integer>
    </array>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>guidelines</key>
    <array>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>276</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>356.333</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>202.6</real>
        <key>angle</key>
        <real>0</real>
      </dict>
    </array>
  </dict>
</plist>
